<table class="table table-striped">
  <thead>
    <th>Título</th>
    <th>Sistema</th>
    <th>Tema</th>
    <th>Data</th>
    <th>Ações</th>
  </thead>
  <tbody>
    <tr *ngFor="let group of groups">
      <td>{{ group.title }}</td>
      <td>{{ group.system }}</td>
      <td>{{ group.theme }}</td>
      <td>{{ group.date | date: 'dd/MM/yyyy'}}</td>
      <td>
        <a class="btn btn-warning" (click)="editGroup(group)">Editar</a>
        <a class="btn btn-warning" (click)="showDetails(group)">Visualizar</a>
      </td>
    </tr>
  </tbody>
</table>
<button class="btn btn-success" (click)="createGroup()">Novo</button>