<form [formGroup]="groupForm">
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <input class="form-control" type="text" id="title">
        <label class="form-label" for="title">Titulo</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <input class="form-control" type="text" id="system">
        <label class="form-label" for="title">Sistema</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <input class="form-control" type="text" id="theme">
        <label class="form-label" for="title">Tema</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <input class="form-control" type="text" id="date">
        <label class="form-label" for="title">Data</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="form-group">
        <input class="form-control" type="text" id="description">
        <label class="form-label" for="title">Descrição</label>
      </div>
    </div>
  </div>
</form>